In [1]:
print('welcome aisyah to Pyhton')

welcome aisyah to Pyhton

In [2]:
print('do less get more')

do less get more

In [3]:
print('10+5')

10+5

In [5]:
#input example
username=input ('Enter Username')
print('welcome to the world Mr./Mrs.:' + username)

Enter Usernameamir
welcome to the world Mr./Mrs.:amir

In [7]:
num1=12
num2=25
result=num1+num2
print(result)

37

In [8]:
print(f'first number {num1} and secound number {num2} Result: {result}')

first number 12 and secound number 25 Result: 37

In [9]:
fnum= (input('enter first number'))
snum=(input('enter secound number'))
result=fnum+snum
print (f'Result after adding {fnum} and {snum} is =\t {result}')

enter first number12
enter secound number25
Result after adding 12 and 25 is =	 1225

In [10]:
fnum=int(input('enter first number'))
snum=int(input('enter secound number'))
result=fnum+snum
print (f'Result after adding {fnum} and {snum} is =\t {result}')

enter first number12
enter secound number25
Result after adding 12 and 25 is =	 37

In [11]:
type({})

dict

In [13]:
num=12
type(num)
print (f'{num}')
print(f'type of fnum {type(fnum)} and snum {type(snum)}')

12
type of fnum <class 'int'> and snum <class 'int'>

In [14]:
my_num=12.44
type(my_num)

float

In [15]:
fnum=float(input('enter first number'))
snum=float(input('enter secound number'))
result=fnum+snum
print (f'Result after adding {fnum} and {snum} is =\t {result}')

enter first number2.2
enter secound number3.3
Result after adding 2.2 and 3.3 is =	 5.5

In [16]:
#BOOLEAN OR BOOL
is_active=True
type(is_active)

bool

In [20]:
is_active=False
type(is_active)

bool

In [23]:
print(f'Is active User?, {is_active}')

Is active User?, False

In [24]:
print(f'Is active User?, is_active')

Is active User?, is_active

In [25]:
#Binary Values
byte_ex=b'hello'
type(byte_ex)

bytes

In [32]:
#complex type
complex_num=2+3j
print(complex_num)
type(complex_num)

(2+3j)

complex

In [33]:
#sequence type
#list[]
list_ex={1,2,3,4,5}
type(list_ex)

set

In [34]:
list_ex={1,2,3,4,5}
print(list_ex)
type(list_ex)

{1, 2, 3, 4, 5}

set

In [36]:
cars=['BMW,MINI COOPER,AUDI']
print(cars)
type(cars)

['BMW,MINI COOPER,AUDI']

list

In [51]:
cars=['BMW,MINI COOPER,AUDI']
print(f'type of car is = {(cars)}')

type of car is = ['BMW,MINI COOPER,AUDI']

In [40]:
#tuple
tuple_ex=(1,2,3,4,5)
print(tuple_ex)
type(tuple_ex)

(1, 2, 3, 4, 5)

tuple

In [52]:
#dictionary
emp={
    "id":1,
    "name":"Aisyah",
    "salary":20000.77

}
print(emp)
type(emp)

{'id': 1, 'name': 'Aisyah', 'salary': 20000.77}

dict

In [46]:
#set
set_ex={10,20,30,40,50}
print(set_ex)
type(set_ex)

{50, 20, 40, 10, 30}

set

In [42]:
#range
range_ex=range(10)
print(range_ex)
type(range_ex)

range(0, 10)

range

In [45]:
range_ex2=range(5,20)
print(range_ex2)
type(range_ex2)

range(5, 20)

range