In [ ]:
set is unordered collection of unique element.
its mutable
we donate set by {}

set


*   set is unordered
*   its mutable
*   donate set by {}
*  no duplicate value event in data its there

In [3]:
first_set_2 = {1,2,3,4,5,6}
print(first_set_2)

{1, 2, 3, 4, 5, 6}

In [15]:
secound_set={'ac', 'coller','fan','lamp','mouse'}
print(secound_set)

{'fan', 'mouse', 'lamp', 'coller', 'ac'}

In [11]:
secound_set.add('keyboard')
print(secound_set)

{'fan', 'mouse', 'lamp', 'coller', 'ac', 'keyboard'}

In [12]:
secound_set.remove('keyboard')
print(secound_set)

{'fan', 'mouse', 'lamp', 'coller', 'ac'}

In [8]:
print('numbers of item in 2nd Set :',len(secound_set))
print(secound_set)

numbers of item in 2nd Set : 4
{'mouse', 'lamp', 'coller', 'ac'}

In [13]:
secound_set.clear()
print(secound_set)

set()

In [16]:
set_one={1,2,3,4}
set_two={5,6,4}

In [17]:
print('Number of Item in set_one',len(set_one))
print("Number of item in set_two", len(set_two))
common=set_one.intersection(set_two)
print('common items in both sets :',common)

Number of Item in set_one 4
Number of item in set_two 3
common items in both sets : {4}

In [18]:

#gabungan 2 set
all_item=set_one.union(set_two)
print('all items in both sets :',all_item)

all items in both sets : {1, 2, 3, 4, 5, 6}

In [20]:
diff_item=set_one.difference(set_two)
print('Items in set_one but not in set_two:', diff_item)

Items in set_one but not in set_two: {1, 2, 3}

In [21]:
course_one={'Python','Power BI','Excel','SQL','Time Management','Soft Skill'}

In [22]:
course_two={'Python','Excel','SQL','Skill','Azure','GitHub','Tensorflow'}

In [24]:
print('number of items in course_one', len(course_one))
for item in course_one:
  print(item)

number of items in course_one 6
Time Management
Excel
Soft Skill
Python
SQL
Power BI

In [25]:
print('number of items in course_two:-', len(course_two))
for item in course_two:
  print(item)

number of items in course_two:- 7
GitHub
Azure
Excel
Skill
Python
SQL
Tensorflow

In [26]:
common_topics=course_one.intersection(course_two)
print('number of common topics in both courses:', len(common_topics))
print('common topics in both courses:', common_topics)

number of common topics in both courses: 3
common topics in both courses: {'SQL', 'Excel', 'Python'}

In [27]:
both_courses=course_one.union(course_two)
print('number of topics in both courses:', len(both_courses))
print('topics in both courses:',both_courses)

number of topics in both courses: 10
topics in both courses: {'Soft Skill', 'SQL', 'Power BI', 'GitHub', 'Excel', 'Azure', 'Python', 'Skill', 'Tensorflow', 'Time Management'}

In [28]:
course_one_diff=course_one.difference(course_two)
print('topics in course_one but not course_two:',len(course_one_diff))
print('topics in course_one but not course_two:',course_one_diff)

topics in course_one but not course_two: 3
topics in course_one but not course_two: {'Time Management', 'Power BI', 'Soft Skill'}

In [29]:
course_two_diff=course_two.difference(course_one)
print('topics in course_two but not course_one:',len(course_two_diff))
print('topics in course_two but not course_one:',course_two_diff)

topics in course_two but not course_one: 4
topics in course_two but not course_one: {'GitHub', 'Tensorflow', 'Azure', 'Skill'}