Tupe: is and ordered Immutable collection of Items


*   We use () to denote tuple

In [1]:
numbers=(100,130,100,500,600)

In [3]:
print('Numbers of Item In tuple are:',len(numbers))

Numbers of Item In tuple are: 5

In [4]:
print('All Items in tuple')
for item in numbers:
  print(item,end='\t')

All Items in tuple
100	130	100	500	600

In [8]:
for (index,item) in enumerate(numbers):
  print(f'{index+1}-->{item}')

1-->100
2-->130
3-->100
4-->500
5-->600

In [9]:
for (index,item) in enumerate(numbers):
  print(f'{index}-->{item}')

0-->100
1-->130
2-->100
3-->500
4-->600

In [14]:
employees=(

           (1,'sam',5000,'manager'),
           (2,'dov',2300,'site'),
           (3,'man',4500,'opis'),
           (4,'nad',6500,'worker'),
           (5,'yah',900,'worker'),
           (6,'siti',7800,'technician'),
           (7,'syah',4900,'hr'),
)

In [15]:
for emp in employees:
  print(emp)

(1, 'sam', 5000, 'manager')
(2, 'dov', 2300, 'site')
(3, 'man', 4500, 'opis')
(4, 'nad', 6500, 'worker')
(5, 'yah', 900, 'worker')
(6, 'siti', 7800, 'technician')
(7, 'syah', 4900, 'hr')

In [16]:
for emp in employees:
  print(f'ID:{emp[0]} \t name :{emp[1]} \t Salary: {emp[2]} \t Designation: {emp[3]}')

ID:1 	 name :sam 	 Salary: 5000 	 Designation: manager
ID:2 	 name :dov 	 Salary: 2300 	 Designation: site
ID:3 	 name :man 	 Salary: 4500 	 Designation: opis
ID:4 	 name :nad 	 Salary: 6500 	 Designation: worker
ID:5 	 name :yah 	 Salary: 900 	 Designation: worker
ID:6 	 name :siti 	 Salary: 7800 	 Designation: technician
ID:7 	 name :syah 	 Salary: 4900 	 Designation: hr

In [17]:
#write a bankingTransactions Record using Tuple
#1. Saved 3 transaction
#2. transaction content : transcation ID, Name, Amount, Date, Type

transaction=(

             (1,'Sam',5000,2025-11-25,'phone banking'),
             (2,'dov',2300,2025-11-25,'Atm'),
             (3,'man',4500,2025-11-25,'IBG'),
)

In [20]:
for ts in transaction:
  print(f'TSID:{ts[0]} \t name :{ts[1]} \t Amount: {ts[2]} \t Date: {ts[3]} \t Type:{ts[4]}')

TSID:1 	 name :Sam 	 Amount: 5000 	 Date: 1989 	 Type:phone banking
TSID:2 	 name :dov 	 Amount: 2300 	 Date: 1989 	 Type:Atm
TSID:3 	 name :man 	 Amount: 4500 	 Date: 1989 	 Type:IBG

In [ ]:
cari yang tr_name=tr[1]

In [25]:
print(transaction[2][2])

4500